#compute-horde-sdk==0.0.2
compute-horde-sdk @ git+https://github.com/backend-developers-ltd/ComputeHorde.git@94abf8314e110ba5f534604f838550fb01b662b1#subdirectory=compute_horde_sdk&egg=compute_horde_sdk
click==8.1.8
python-decouple==3.8
boto3==1.37.21
